:root {
    --keyboard-height : 100px;
}

body {
    background-color:  rgb(27, 26, 26);
}

.keyboard {

    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px;

}

.keyboardDisplay {

    margin-top : 50px;
    border: 1px solid black;
    border-radius : 10px;
    background-color: darkgray;

}



.white {
    position: relative;
    width: calc(var(--keyboard-height) / 4);
    height: var(--keyboard-height);
    border: 1px solid black;
    box-sizing: border-box;
    background: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.black {
    position: relative;
    width: calc(var(--keyboard-height) * 0.15);
    height: calc(var(--keyboard-height) * .7);
    background: black;
    box-sizing: border-box;
    z-index: 1;
    transform: translateX(-50%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid black;

}

.black + .white {
    margin-left: calc(var(--keyboard-height) * -0.15);
}

.chordTone {
    background-color: rgb(25, 133, 91);
    border: 1px solid black;
}

.notes {
    text-align: center;
    font-size: 45px;
    height: 50px;  
}

.hidden {
    display: none;
    visibility: hidden;
}

div {
    /* border : 1px solid black */
}

#test {
    border : solid black 1px;
    height: 100px
}

a {
    text-decoration: none;
    color: black;
    margin : 10px;
}

a:hover {
    color :rgb(41, 45, 100)
}

